body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
}
.navigation {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #FFDD44;
    width: 100%;
    justify-content: space-around;
    padding: 10px 0;
}
.navigation button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.navigation button:nth-child(1) {
    background-color: #4682B4;
    color: white;
}
.navigation button:nth-child(2) {
    background-color: #FFA500;
    color: white;
}
.navigation button:nth-child(3) {
    background-color: #008B8B;
    color: white;
}
main {
    width: 100%;
    margin: 20px 0;
}
/* section {
    background-color: #D3D3D3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.service-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.service img, .service p {
    width: 48%;
}
/* ヘッダー */
header {
  width: 100%;
  height: auto;
}

.logo a {
  display: block;
}

.logo img {
  margin: 5px;
  max-width: 80%;
}

body {
  height: 100%;
}
.stickyBottomContainer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  height: 5dvh;
  text-align: center;
  margin-bottom: 3vh;
}

.stickyBottomButton {
  margin-right: 15%;
  background-color: #fff580;
  margin-left: 15%;
  height: 100%;
}

.stickyTopContainer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  left: 0;
  width: 100%;
  color: white;
  height: 5dvh;
  text-align: center;
  margin-bottom: 3vh;
}

.stickyTopButton {
  margin-right: 15%;
  background-color: #fff580;
  margin-left: 15%;
  height: 100%;
}

.btnWithColorBackground {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 60%;
  margin: auto;
  padding: 1rem 4rem;
  font-weight: bold;
  border: 2px solid #ffeb00;
  background: #ffeb00;
  color: #fff !important;
  border-radius: 100vh;
  transition: 0.5s;
  text-decoration: none !important;
  color: white !important;
}
.btnWithColorBackground:hover {
  cursor: pointer;
  background: #fff;
  color: #ffeb00 !important;
}

.normalBtn {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 40%;
  margin: auto;
  padding: 1rem 4rem;
  font-weight: bold;
  border: 2px solid greenyellow;
  background: #fff;
  color: #fff !important;
  border-radius: 100vh;
  transition: 0.5s;
  text-decoration: none !important;
  color: greenyellow !important;
}

.normalBtn:hover {
  cursor: pointer;
  background-color: greenyellow;
  color: #fff !important;
}

.btnTarget {
  display: block;
  font-size: 0.75rem;
  text-align: center;
  text-decoration: none;
  width: 33%;
  margin: auto;
  padding: 1rem 4rem;
  font-weight: bold;
  color: #fff !important;
  border-radius: 1vh;
  transition: 0.5s;
  text-decoration: none !important;
  color: white !important;
}
.btnTarget.father {
  border: 2px solid #4a56ff;
  background: #4a56ff;
}
.btnTarget.father:hover {
  cursor: pointer;
  background: #fff;
  color: #4a56ff !important;
}
.btnTarget.mother {
  border: 2px solid #fa68b8;
  background: #fa68b8;
}
.btnTarget.mother:hover {
  cursor: pointer;
  background: #fff;
  color: #fa68b8 !important;
}

.btnTarget.child {
  border: 2px solid #19b921;
  background: #19b921;
}
.btnTarget.child:hover {
  cursor: pointer;
  background: #fff;
  color: #19b921 !important;
}
